PORT=3333
CORS_ORIGIN=http://localhost:5173
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/b3_analytics?schema=public"
JWT_SECRET="replace-this-with-a-random-secret-of-at-least-32-characters"